.formAtualizar{
    background-color: lightgray;
}

#a{
    height: 10.5rem;
}

#atualizarServico, #atualizarAgendamento{
    position: relative;
    top: 4rem;
}

footer{
    position: fixed;
}

.btn-atualizar{
    width: 50%;
}

.erro{
    margin: 1rem;
}

@media (min-width: 600px){
    div, label{
        font-size: 20px;
    }
}