#cabecalho{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

#rodape{
    position: relative;
    width: 100%;
    bottom: 0;
}

#homePageBody{
    position: relative;
    top: 4rem;
    height: 100%;
}

#contatoInfo{
    text-align: center;
}

.nav-item{
    border-bottom: 1px solid gray;
    max-width: 8rem;
    margin-right: 1rem;
}

.fc-toolbar-chunk{
    max-width: 50%;
    text-align: center;
}

.fc-media-screen{
    height: 40rem;
    margin: auto;
}

@media (min-width: 650px){
    .fc-media-screen{
    height: 40rem;
    width: 90%;
    margin: auto;
    }
}

@media (min-width: 1000px){
    .fc-media-screen{
    height: 40rem;
    width: 80%;
    margin: auto;
    }
}

@media (min-width: 1400px){
    .fc-media-screen{
    height: 30rem;
    width: 75%;
    margin: auto;
    }
}

@media (min-width: 1800px){
    .fc-media-screen{
    height: 30rem;
    width: 70%;
    margin: auto;
    }
}